.card .card-body{
    text-align: left;
}

p {
    text-align: left;
}

body {
    background-color: #353b43;
    font-family: var(--bs-body-font-family);
}

@include media('>=very-large', '<extra-large') {
    .post-card {
      width: calc(100% / 3) !important;
    }
    .post-card-holder {
      margin-left: 0px;
    }
  }

table {
  margin-bottom: 1.0rem;
}

.share-buttons {
	flex: 100%;
	max-width: 100%;
	text-align: center;
    padding-bottom: 1.5rem;
}


//* cool quotes *//
//* from https://codepen.io/tiggr/pen/MWyJJEz *//

@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Vollkorn:ital,wght@0,600;1,500&display=swap');
:root {
	// --type-body: Open Sans, Helvetica, Arial, sans-serif;
	--type-quote: Vollkorn;
	--quote-image-width: 140px;
	--border-rad: 7px;
	--accent-color: var(--bs-blue);
	--quote-bg: #{'hsl(0 0% 97%)'};
}

blockquote {
	position: relative;
	margin: 40px 0;
	// padding: 1.6em 2.4em .7em calc(1.4em + var(--quote-image-width));
	font: italic 1.2rem var(--type-quote);
	background: var(--quote-bg) no-repeat left / var(--quote-image-width);
	border-radius: var(--border-rad);
	border: 2px solid white;
	box-shadow: 2px 2px 4px #{'hsl(0 0% 0% / 20%)'};
	text-indent: 1.6em;
}

blockquote p {
	margin-top: 1.3rem;
    margin-bottom: 1rem;
}

@media (min-width: 768px) {
	blockquote {
		margin: 40px 60px;
	}
}

blockquote::before {
	content: "";
	position: absolute;
	z-index: 1;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	border-radius: var(--border-rad);
	box-shadow:
		inset -2px -2px 1px #{'hsl(0 0% 100%)'},
		inset 2px 2px 4px #{'hsl(0 0% 0% / 20%)'};
}

blockquote::after {
	content: "â";
	position: absolute;
	z-index: 1;
	left: 50%;
	top: -2px;
	transform: translate(-50%, -50%);
	width: 1.3em;
	height: 1.3em;
	background: white;
	box-shadow: 0 4px 5px -1px #{'hsla(0 0% 0% / 20%)'};
	border-radius: 999px;
	display: grid;
	place-content: center;
	padding-top: .5em;
	color: var(--accent-color);
	font-size: 36px;
	font-style: normal;
	text-indent: 0;
}

@media all {
cite {
	display: block;
	margin-top: 30px;
	text-indent: 0;
	text-align: center;
	font: bold .9rem var(--type-body);
	text-transform: uppercase;
	// color: #{'hsl(0 0% 20%)'};
	color: var(--accent-color);
}
}

@media (min-width: 768px) {
	cite {
		margin-left: calc(1rem - var(--quote-image-width));
	}
}

.cite-last-name {
	background: var(--accent-color);
	color: var(--quote-bg);
}
